.recipeImageContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.recipeImage{
    width: 90vw;
    object-fit: cover;
    border-radius: 1rem;
}
.recipeTitleAndDescriptionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    margin: 0 1rem 1rem 1rem;
}
.activeTab{
    color: #9225E9;
    text-decoration: underline;
}
.recipeDetailsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-weight: bolder;
}
.recipeDetails{
    width: 90vw;
    padding: 0 1rem 1rem 1rem ;
    margin: 0 auto;
}
.noReviews{
    margin: 1rem;
    font-weight: bolder;
}
.reviewsContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.reviewInputContainer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.reviewInput{
    width: 90vw;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 1rem;
}
.submitButton{
    background: linear-gradient(to right, #9225E9, #F17B00);
    color: #fff;
    border: none;
    padding: 14px;
    width: 40vw;
    border-radius: 2rem;
    font-weight: bolder;
      outline: none;
    letter-spacing: 2px;
}