.resetPasswordPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.resetPasswordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.input{
    width: 75vw;
    padding: 14px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    outline: none;
    background: #f7f7f7;
}
.sendResetLinkButton{
    background: linear-gradient(to right, #9225E9, #F17B00);
    color: #fff;
    border: none;
    padding: 10px;
    width: 65vw;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: 1rem;
    outline: none;
    letter-spacing: 2px;
}
.goBack{
    font-weight: bolder;
    background: linear-gradient(to right, #9225E9, #F17B00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}