.datesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}
.date{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #DBDBDB;
}
.activeDate{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #E0FCDF;
}