.onboardingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.onboardingSkip{
    position: absolute;
    top: 0;
    right: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2em;
    font-weight: bold;
}
.onboardingImg{
    width: 70vw;
}
.onboardingButton{
    background: linear-gradient(to right, #9225E9, #F17B00);
    color: #fff;
    border: none;
    padding: 14px;
    width: 75vw;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: 1rem;
    outline: none;
    margin-top: 2rem;
    letter-spacing: 2px;
}