.rememberMeAndForgotPasswordContainer{
    display: flex;
    justify-content: space-between;
    width: 75vw;
    border-radius: 5px;
    outline: none;
}
.rememberMeContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.rememberMe{
    font-weight: bolder;
    font-size: 13px;
}
.forgotPassword{
    font-weight: bolder;
    font-size: 13px;
    color: #9225E9;
}